In [102]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv" 

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [103]:
#There will always be a purchase ID, so to count the total amount of players we can count the Purchase ID column

#gotta make sure their are no duplicated under the SN column
player_count = purchase_data_df["SN"].nunique()
print("There are " + str(player_count) + " players in total.")

There are 576 players in total.

In [119]:
#1 - Number of unique purchases
unique_values = str(purchase_data_df["Item ID"].nunique())
#unique_purchases_df = purchase_data_df.groupby('Gender')['Item ID'].nunique()
#unique_purchases_df

#2 - Gets average price per purchase
average_purchase_cost = str(purchase_data_df["Price"].mean())

#3 - total number of purchases
total_purchase_num = str(purchase_data_df["Purchase ID"].count())

#4 - Total revenue
total_revenue = str(purchase_data_df["Price"].sum())

print("Total unique values: " + unique_values)
print("Average Price: " + average_purchase_cost)
print("Number of Purchases: " + total_purchase_num)
print("Total Revenue: " + total_revenue)

Total unique values: 179
Average Price: 3.050987179487176
Number of Purchases: 780
Total Revenue: 2379.77

In [114]:
no_dups_gender = purchase_data_df.drop_duplicates(subset=['SN'], keep='last')
gender_count = no_dups_gender["Gender"].value_counts()
gender_count

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [106]:
#REDO THIS  
Male_purchase_analysis = purchase_data_df.loc[purchase_data_df.Gender=='Male', :]
Female_purchase_analysis = purchase_data_df.loc[purchase_data_df.Gender=='Female', :]
Other_purchase_analysis = purchase_data_df.loc[purchase_data_df.Gender=='Other / Non-Disclosed', :]

#Purchase count by gender
M_Count = Male_purchase_analysis[["Price"]].count()
F_Count = Female_purchase_analysis[["Price"]].count()
O_Count = Other_purchase_analysis[["Price"]].count()

#This gets the average purchase price by gender
M_Avg_Price = Male_purchase_analysis[["Price"]].mean()
F_Avg_Price =Female_purchase_analysis[["Price"]].mean()
O_Avg_Price =Other_purchase_analysis[["Price"]].mean()

#Average purchase total per person by gender
M_average_purchase = ((Male_purchase_analysis[["Price"]].sum()) / M_Count)
F_average_purchase = ((Female_purchase_analysis[["Price"]].sum()) /  F_Count) 
O_average_purchase = ((Other_purchase_analysis[["Price"]].sum()) / O_Count)  

#

summary_data = ({          "Gender": ["Male", "Female", "Other / Non-Disclosed"],
                           "Average Purchase Price": [M_Avg_Price,F_Avg_Price,O_Avg_Price], 
                           "Average Purchase Per Person": [M_average_purchase,F_average_purchase,O_average_purchase]})
sumary_df = pd.DataFrame(summary_data)
sumary_df.head()

,Gender,Average Purchase Price,Average Purchase Per Person
0,Male,Price 3.017853 dtype: float64,Price 3.017853 dtype: float64
1,Female,Price 3.203009 dtype: float64,Price 3.203009 dtype: float64
2,Other / Non-Disclosed,Price 3.346 dtype: float64,Price 3.346 dtype: float64

In [107]:

bins = [0, 10, 15, 20, 25, 30, 50]
group_labels = ["0 to 10", "11 to 15", "16 to 20", "21 to 25", "26 to 30", "31 to 50"]
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
#purchase_data_df.head()

age_group_df = purchase_data_df.groupby("Age Group")
#Gets group counts
Age_grouping = (age_group_df["Age Group"].count())
#Gets percentages of age groups
Age_percentages = (age_group_df["Age Group"].count()/ total_purchase_num)

age_data_dict = {"Player Group": Age_grouping,"Age Percentages": Age_percentages}


age_data_df = pd.DataFrame(age_data_dict)
age_data_df

           Player Group  Age Percentages
Age Group
0 to 10              32         0.041026
11 to 15             54         0.069231
16 to 20            200         0.256410
21 to 25            325         0.416667
26 to 30             77         0.098718
31 to 50             92         0.117949

In [108]:
#Gets purchase count by age frame
age_purchase_count= (age_group_df["Price"].count())

#Gets aveverage purchase price
avg_pur_price = round(age_group_df["Price"].mean(), 2)


#Gets avgerage purchase total per person
avg_pur_pp = round(age_group_df["Price"].sum()/ age_purchase_count, 2)


pur_analysis_dict = {"Total Purchases Per group":age_purchase_count ,"Average Purcahase Prices": avg_pur_price, "Purchase Total Per Person": avg_pur_pp}


pur_anal_df = pd.DataFrame(pur_analysis_dict)
pur_anal_df

,Total Purchases Per group,Average Purcahase Prices,Purchase Total Per Person
Age Group,,,
0 to 10,32,3.40,3.40
11 to 15,54,2.90,2.90
16 to 20,200,3.11,3.11
21 to 25,325,3.02,3.02
26 to 30,77,2.88,2.88
31 to 50,92,3.15,3.15

In [109]:
#DataFrames
top_spenders = round(purchase_data_df.groupby('SN')['Price'].sum(),2)
top_spender_pur_count = (purchase_data_df.groupby('SN')['Price'].count())
avg_purch_price = round(top_spenders / top_spender_pur_count,2)

#Merging Groups
merge_df = pd.merge(top_spenders, top_spender_pur_count, on="SN", how="left")
merge2_df = pd.merge(merge_df, avg_purch_price, on= "SN", how='left')

#Renaming
renamed_df = merge2_df.rename(columns={"Price_x":"Total Purchase Value", "Price_y":"Purchase Count", "Price":"Average Purchase Price"})

top_5 = renamed_df.nlargest(5, "Total Purchase Value")
top_5

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Lisosia93                   18.96               5                    3.79
Idastidru52                 15.45               4                    3.86
Chamjask73                  13.83               3                    4.61
Iral74                      13.62               4                    3.40
Iskadarya95                 13.10               3                    4.37

In [110]:
Popular_items_by_count_df = (purchase_data_df.groupby('Item ID')['Price'].count())
total_income = round(purchase_data_df.groupby('Item ID')['Price'].sum(),2)

refined_purchase_data_df = purchase_data_df[["Item ID","Item Name","Price"]]

merge1_df = pd.merge(Popular_items_by_count_df, total_income, on="Item ID", how="left")

merge2_df = pd.merge(merge1_df, refined_purchase_data_df, on="Item ID", how="left")
renamed1 = merge2_df.rename(columns={"Price_x":"Purchase Count", "Price_y":"Total Purchase Value"})
no_dups = renamed1.drop_duplicates(subset=['Item ID'], keep='last')
no_dups_new_index = no_dups.reset_index()
no_dups_new_index

top_5_df = no_dups_new_index.nlargest(5, "Purchase Count")
top_5_df

,index,Item ID,Purchase Count,Total Purchase Value,Item Name,Price
90,394,92,13,59.99,Final Critic,4.19
174,762,178,12,50.76,"Oathbreaker, Last Hope of the Breaking Storm",4.23
80,349,82,9,44.10,Nirvana,4.90
105,465,108,9,31.77,"Extraction, Quickblade Of Trembling Hands",3.53
129,563,132,9,28.99,Persuasion,3.33

In [111]:
most_prof = top_5_df.sort_values(by='Total Purchase Value', ascending=False)
most_prof

,index,Item ID,Purchase Count,Total Purchase Value,Item Name,Price
90,394,92,13,59.99,Final Critic,4.19
174,762,178,12,50.76,"Oathbreaker, Last Hope of the Breaking Storm",4.23
80,349,82,9,44.10,Nirvana,4.90
105,465,108,9,31.77,"Extraction, Quickblade Of Trembling Hands",3.53
129,563,132,9,28.99,Persuasion,3.33